{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'clientes/css/clientes.css' %}">
    <link rel="stylesheet" href="{% static 'servicos/css/listar_servico.css' %}">
{% endblock %}


{% block 'dashboard' %}
    <br>
    <br>
    <div class="container">
        <h3><a href="{% url 'gerar_os' servico.identificador %}">GERAR ORDEM DE SERVIÇO</a></h3>
        <br>
        <h7>Serviço: {{servico.titulo}}</h7>
        <br>
        <br>
        <h7>Preço Total do Serviço: {{servico.preco_total}}</h7>
        <br>
        <br>
        {% if servico.descricao %}
            <h7>Descrição do problema: {{ servico.descricao }}</h7>
            <br>
            <br>
        {% endif %}
        {% if servico.observacao %}
        <h7>Observações: {{ servico.observacao }}</h7>
        {% endif %}
        <br>
        <br>
        <div class="btn-group justify-content-between">        
            <div class="btn mr-1">
                {% if not servico.finalizado %}
                <form action="{% url 'finalizar_servico' servico.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Finalizar Serviço</button>
                </form>
                {% endif %}
            </div>
            <div class="btn">
                <form>
                    <a href="{% url 'editar_servico' identificador=servico.id %}">Editar</a>
                </form>
            </div>
            <div class="btn mr-3">
                    <form>
                        <a href="{% url 'listar_servico' %}" class="btn btn-secondary">Voltar</a>
                    </form>
            </div>
        </div>
    </div>
    
{% endblock %}